#about > .right-content {
  background: url('../../images/circles-about.png');

  background-size: contain;
  max-width: 340px;
  height: 450px;
}

#about > .right-content > img {
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(36, 8, 63, 0.1);
  max-width: 230px;
  margin: 4rem 8rem;
}

#about > .left-content > p {
  font-size: 20px;
}
