#technologies {
  background-image: url(../../images/technologies.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#technologies > .container > h1 {
  color: white;
}

#technologies > .container > .type > .back-end {
  color: #9BA4FF;
  font-weight: bold;
  margin-left: 24px;
}

#technologies > .container > .type > .front-end {
  color: ##E3647F;
  font-weight: bold;
  margin-left: 24px;
}

#technologies > .container > .type > .other-tools {
  color: #B58CEA;
  font-weight: bold;
  margin-left: 24px;
}

#technologies > .container > .type {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(80px);
  border-radius: 16px;
  padding-left: 24px;
  position: static;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#technologies > .container > .type > .icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: static;
  flex: none;
  order: 1;
  align-self: flex-start;
  flex-grow: 0;
}

#technologies > .container > .type > .icons > .icon {
  color: white;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 60px;
  text-align: center;
}

#technologies > .container > .type > .icons > .icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 8px;
}
